.divBlock{
    display: flex;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    border: 5px solid black;
    background-color: pink;

}

.menuBlock ul{
    display: flex;
    justify-content: space-around;
    width: 300px;
    color: black;
    align-items: center;
    text-decoration: none;

}

img{
    height: 70px;
    width: 60px;
    padding: 20px;
}

.menuBlock ul li{
    
    list-style: none;

}